In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [9]:
df=pd.read_csv('E:\\project csv files\\sample_superstore\\SampleSuperstoreRaw.csv')

In [10]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [11]:
df.shape

(9994, 13)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [14]:
df.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [15]:
df.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

In [19]:
df.duplicated().sum()

np.int64(17)

In [24]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()
print('Duplicates Removed')

Duplicates Removed

In [25]:
df.shape

(9977, 13)

In [44]:
df['Profit Margin']=df['Profit']/df['Sales']*100
df['Profit Margin']=df['Profit Margin'].round(2)
df['Profit']=df['Profit'].round(2)

In [40]:
df['Discounted Price']=df['Sales']*(1-df['Discount'])
df['Discounted Price']=df['Discounted Price'].round(2)

In [49]:
df["Sales Status"] = df["Profit"].map(
    lambda x: "Profit" if x > 0 else "Loss"
)

In [51]:
df[['Profit Margin','Profit','Discounted Price','Discount','Sales Status']].head()

   Profit Margin  Profit  Discounted Price  Discount Sales Status
0          16.00   41.91            261.96      0.00       Profit
1          30.00  219.58            731.94      0.00       Profit
2          47.00    6.87             14.62      0.00       Profit
3         -40.00 -383.03            526.67      0.45         Loss
4          11.25    2.52             17.89      0.20       Profit

In [52]:
df.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Profit Margin,Discounted Price,Sales Status
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.91,16.00,261.96,Profit
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.58,30.00,731.94,Profit
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.87,47.00,14.62,Profit
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.03,-40.00,526.67,Loss
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.52,11.25,17.89,Profit

In [53]:
df.to_csv('E:\\project csv files\\sample_superstore\\SampleSuperstorecleaned.csv',header=True,mode='w')

In [3]:
import pandas as pd
from sqlalchemy import create_engine
result = pd.read_csv('E:\\project csv files\\sample_superstore\\SampleSuperstorecleaned.csv')
engine = create_engine( "mysql+pymysql://root:pass123@localhost:3306/mathi")
result.to_sql(
    name='samplesuperstore',   # table name (use lowercase to avoid case sensitivity issues)
    con=engine,
    if_exists='replace',       # replace if table already exists
    index=False                # donâ€™t write DataFrame index as a column
)

9994